{% extends "base.html" %}

{% block content %}
<div class="card">
    <h2>Invernaderos Cargados</h2>
    
    {% if invernaderos.tamaño > 0 %}
        {% for invernadero in invernaderos %}
        <div class="card">
            <h3>Nombre: {{ invernadero.obtener(0) }}</h3>
            <p><strong>Hileras:</strong> {{ invernadero.obtener(1) }}</p>
            <p><strong>Plantas por hilera:</strong> {{ invernadero.obtener(2) }}</p>
            <a href="/probar-plan">Probar Plan</a>
        </div>
        {% endfor %}
    {% else %}
        <p>No hay invernaderos cargados.</p>
    {% endif %}
</div>
{% endblock %}